@import '~antd/dist/antd.css';
/* @import '~antd/lib/style/core/index.less'; */

.menuBar{
  padding: 0px 20px;
  /* border-bottom: solid 1px #e8e8e8; */
  height: 55px;
  overflow: hidden;
  box-shadow: 0 0 30px #f3f1f1;
  background-color: #2874F0;
}
.logo{
  width: 150px;
  float: left;
}

.searchbox{
    margin: 8px;
}
.rightymenu{
    margin: 4px;
    background-color:#2874F0 ;

}
.logo a{
  display: inline-block;
  font-size: 20px;
  padding: 19px 20px;
  text-transform: capitalize;
}



.menuCon .ant-menu-horizontal{
  border-bottom: none;
}







.menuCon .leftMenu{
  float: left;
}
.menuCon .rightMenu{
  float: right;
}

@media(max-width: 1281px){
  
  

  .logbtn{
    width: 120px;
    height: 32px;
    position: relative;
    /* left: 15px; */
    font-size: 20px;
    letter-spacing: 1px;
    padding: 0px 50px 35px 30px;
    font-weight: 600;
    color: #357CF1;
    text-decoration: none;
  }
}

@media(min-width: 991.98px){
  .searchbox{
    width: 520px;
    margin: 12px;
    height: 35px;
    left: 15%;
    border: none;
    box-shadow: black ;
  }
  

  .logbtn{
   
    /* position: relative;
    left: -90%; */
    height: 30px;
    width: 95px;
    border: none;
    font-size: 16px;
    letter-spacing: 1px;
    margin-top: 10px;
    margin-right: 50px;
    /* padding: 10px; */
    font-weight: 600;
    color: #357CF1;
    text-decoration: none;
  }
  .modified-dropdown{
    color: white;

  }

  .rightymenu{
    color: white;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 0.5px;
    

}



.ant-dropdown-link{
    color: white;
    font-size: 16px;
    margin-right: 50px;
    font-weight: 600;
    letter-spacing: 0.5px;
    /* position: relative;
    left: -50%; */

  }




}


@media(max-width: 767px){
  .barsMenu{
    display: inline-block;
  }

  

 
  .rightMenu{
    position: fixed;
  } 
  .logo a{
    margin-left: -20px;
  }
  .menuCon .ant-menu-item, .menuCon .ant-menu-submenu-title{
    padding: 1px 20px;
  }
  .logo a{
    padding: 10px 20px;
  }
}